
__pycache__/

nsc (copy 1).py

nsc_config (copy 1).py

nsc_lib (copy 1).py

run_nsc (copy 1).py

Simon_NSC (copy 1).ipynb

ndps_config (copy 1).py

ndps_core (copy 1).py

ndps_lib (copy 1).py

run_ndps (copy 1).py

.spyproject/config/

docs/_build/doctrees/environment.pickle

docs/_build/doctrees/fit_tools.doctree

docs/_build/doctrees/generic.doctree

docs/_build/doctrees/grip.doctree

docs/_build/doctrees/histogram_tools.doctree

docs/_build/doctrees/index.doctree

docs/_build/doctrees/instrument_models.doctree

docs/_build/doctrees/modules.doctree

docs/_build/doctrees/plots.doctree

docs/_build/doctrees/preprocessing.doctree

docs/_build/html/_sources/fit_tools.rst.txt

docs/_build/html/_sources/generic.rst.txt

docs/_build/html/_sources/grip.rst.txt

docs/_build/html/_sources/histogram_tools.rst.txt

docs/_build/html/_sources/index.rst.txt

docs/_build/html/_sources/instrument_models.rst.txt

docs/_build/html/_sources/modules.rst.txt

docs/_build/html/_sources/plots.rst.txt

docs/_build/html/_sources/preprocessing.rst.txt

docs/_build/html/_static/_sphinx_javascript_frameworks_compat.js

docs/_build/html/_static/basic.css

docs/_build/html/_static/css/badge_only.css

docs/_build/html/_static/css/fonts/fontawesome-webfont.eot

docs/_build/html/_static/css/fonts/fontawesome-webfont.svg

docs/_build/html/_static/css/fonts/fontawesome-webfont.ttf

docs/_build/html/_static/css/fonts/fontawesome-webfont.woff

docs/_build/html/_static/css/fonts/fontawesome-webfont.woff2

docs/_build/html/_static/css/fonts/lato-bold-italic.woff

docs/_build/html/_static/css/fonts/lato-bold-italic.woff2

docs/_build/html/_static/css/fonts/lato-bold.woff

docs/_build/html/_static/css/fonts/lato-bold.woff2

docs/_build/html/_static/css/fonts/lato-normal-italic.woff

docs/_build/html/_static/css/fonts/lato-normal-italic.woff2

docs/_build/html/_static/css/fonts/lato-normal.woff

docs/_build/html/_static/css/fonts/lato-normal.woff2

docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff

docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2

docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff

docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2

docs/_build/html/_static/css/theme.css

docs/_build/html/_static/doctools.js

docs/_build/html/_static/documentation_options.js

docs/_build/html/_static/file.png

docs/_build/html/_static/jquery.js

docs/_build/html/_static/js/badge_only.js

docs/_build/html/_static/js/html5shiv-printshiv.min.js

docs/_build/html/_static/js/html5shiv.min.js

docs/_build/html/_static/js/theme.js

docs/_build/html/_static/language_data.js

docs/_build/html/_static/minus.png

docs/_build/html/_static/plus.png

docs/_build/html/_static/pygments.css

docs/_build/html/_static/searchtools.js

docs/_build/html/_static/sphinx_highlight.js

docs/_build/html/.buildinfo

docs/_build/html/fit_tools.html

docs/_build/html/generic.html

docs/_build/html/genindex.html

docs/_build/html/grip.html

docs/_build/html/histogram_tools.html

docs/_build/html/index.html

docs/_build/html/instrument_models.html

docs/_build/html/modules.html

docs/_build/html/objects.inv

docs/_build/html/plots.html

docs/_build/html/preprocessing.html

docs/_build/html/py-modindex.html

docs/_build/html/search.html

docs/_build/html/searchindex.js

works for glint/grip_lib.py

works for glint/grip_main_glint.py

glint_astro_analysis_lib.py

glint_astro_analysis.py

grip_config_lbti.py

grip_lib.py

grip_main_glint.py

grip_main_lbti.py

ndps_analysis.py

ndps_config.py

ndps_core.py

ndps_core2.py

ndps_lib.py

ndps_lib2.py

ndps_mcmc.py

run_ndps.py

Simon_NSC.ipynb

alfboo_chi2_norvu.png

alfboo_chi2_rvu.png

alfBoo_lklh_norvu.png

alfBoo_lklh_rvu.png

alfboo_lstsqr_norvu.png

alfboo_lstsqr_rvu.png

alfBoo_published.png

deleteme.png

doc/_build/doctrees/fit_tools.doctree

doc/_build/doctrees/generic.doctree

doc/_build/doctrees/histogram_tools.doctree

doc/_build/doctrees/instrument_models.doctree

doc/_build/doctrees/plots.doctree

doc/_build/doctrees/preprocessing.doctree

doc/_build/html/_static/_sphinx_javascript_frameworks_compat.js

doc/_build/html/_static/jquery.js

doc/_build/doctrees/environment.pickle

doc/_build/doctrees/index.doctree

doc/_build/html/_sources/fit_tools.rst.txt

doc/_build/html/_sources/generic.rst.txt

doc/_build/html/_sources/histogram_tools.rst.txt

doc/_build/html/_sources/index.rst.txt

doc/_build/html/_sources/instrument_models.rst.txt

doc/_build/html/_sources/plots.rst.txt

doc/_build/html/_sources/preprocessing.rst.txt

doc/_build/html/_static/basic.css

doc/_build/html/_static/css/badge_only.css

doc/_build/html/_static/css/fonts/fontawesome-webfont.eot

doc/_build/html/_static/css/fonts/fontawesome-webfont.svg

doc/_build/html/_static/css/fonts/fontawesome-webfont.ttf

doc/_build/html/_static/css/fonts/fontawesome-webfont.woff

doc/_build/html/_static/css/fonts/fontawesome-webfont.woff2

doc/_build/html/_static/css/fonts/lato-bold-italic.woff

doc/_build/html/_static/css/fonts/lato-bold-italic.woff2

doc/_build/html/_static/css/fonts/lato-bold.woff

doc/_build/html/_static/css/fonts/lato-bold.woff2

doc/_build/html/_static/css/fonts/lato-normal-italic.woff

doc/_build/html/_static/css/fonts/lato-normal-italic.woff2

doc/_build/html/_static/css/fonts/lato-normal.woff

doc/_build/html/_static/css/fonts/lato-normal.woff2

doc/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff

doc/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2

doc/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff

doc/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2

doc/_build/html/_static/css/theme.css

doc/_build/html/_static/doctools.js

doc/_build/html/_static/documentation_options.js

doc/_build/html/_static/file.png

doc/_build/html/_static/js/badge_only.js

doc/_build/html/_static/js/html5shiv-printshiv.min.js

doc/_build/html/_static/js/html5shiv.min.js

doc/_build/html/_static/js/theme.js

doc/_build/html/_static/language_data.js

doc/_build/html/_static/minus.png

doc/_build/html/_static/plus.png

doc/_build/html/_static/pygments.css

doc/_build/html/_static/searchtools.js

doc/_build/html/_static/sphinx_highlight.js

doc/_build/html/.buildinfo

doc/_build/html/fit_tools.html

doc/_build/html/generic.html

doc/_build/html/genindex.html

doc/_build/html/histogram_tools.html

doc/_build/html/index.html

doc/_build/html/instrument_models.html

doc/_build/html/objects.inv

doc/_build/html/plots.html

doc/_build/html/preprocessing.html

doc/_build/html/py-modindex.html

doc/_build/html/search.html

doc/_build/html/searchindex.js

tutorials/.ipynb_checkpoints/grip_tuto_display_histograms_and_data-checkpoint.ipynb

tutorials/results/LBTI Null_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_details_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_injection_11000-11200_dataset.png

tutorials/results/LBTI Null_photometries_11000-11200_dataset_11100.png

tutorials/.ipynb_checkpoints/tuto1_get_histo_and_display-checkpoint.ipynb

tutorials/.ipynb_checkpoints/tuto2_explore_parameter_space-checkpoint.ipynb

tutorials/.ipynb_checkpoints/tuto3_fit_with_likelihood-checkpoint.ipynb

tutorials/.ipynb_checkpoints/tuto4_use_of_mcmc-checkpoint.ipynb

tutorials/results/LBTI Null_000_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_000_basin_hop.log

tutorials/results/LBTI Null_000_param_map_mu_vs_sig_11000-11200.png

tutorials/results/LBTI Null_000_param_map_na_vs_mu_11000-11200.png

tutorials/results/LBTI Null_000_param_map_sig_vs_na_11000-11200.png

tutorials/results/LBTI Null_001_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_001_basin_hop.log

tutorials/results/LBTI Null_002_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_002_basin_hop.log

tutorials/results/LBTI Null_003_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_003_basin_hop.log

tutorials/results/LBTI Null_004_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_004_basin_hop.log

tutorials/results/LBTI Null_005_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_005_basin_hop.log

tutorials/results/LBTI Null_006_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_006_basin_hop.log

tutorials/results/LBTI Null_007_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_007_basin_hop.log

tutorials/results/LBTI Null_008_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_008_basin_hop.log

tutorials/results/LBTI Null_009_11000-11200_dataset_11100.png

tutorials/results/LBTI Null_009_basin_hop.log

doc/_build/doctrees/build_model.doctree

doc/_build/doctrees/grip_nested_architecture.doctree

doc/_build/html/_sources/build_model.rst.txt

doc/_build/html/_sources/grip_nested_architecture.rst.txt

doc/_build/html/build_model.html

doc/_build/html/grip_nested_architecture.html

tutorials/.ipynb_checkpoints/

build/lib/grip/

grip.egg-info/

doc/_build/doctrees/fitting.doctree

doc/_build/doctrees/load_files.doctree

doc/_build/doctrees/plotting.doctree

doc/_build/html/_sources/fitting.rst.txt

doc/_build/html/_sources/load_files.rst.txt

doc/_build/html/_sources/plotting.rst.txt

doc/_build/html/fitting.html

doc/_build/html/load_files.html

doc/_build/html/plotting.html

demo.txt

grip/table.fits

grip/table2.fits
