
__pycache__/

nsc (copy 1).py

nsc_config (copy 1).py

nsc_lib (copy 1).py

run_nsc (copy 1).py

Simon_NSC (copy 1).ipynb

ndps_config (copy 1).py

ndps_core (copy 1).py

ndps_lib (copy 1).py

run_ndps (copy 1).py

.spyproject/config/

docs/_build/*

works for glint/*

glint_astro_analysis_lib.py

glint_astro_analysis.py

grip_config_lbti.py

grip_lib.py

grip_main_glint.py

grip_main_lbti.py

ndps_analysis.py

ndps_config.py

ndps_core.py

ndps_core2.py

ndps_lib.py

ndps_lib2.py

ndps_mcmc.py

run_ndps.py

Simon_NSC.ipynb

alfboo_chi2_norvu.png

alfboo_chi2_rvu.png

alfBoo_lklh_norvu.png

alfBoo_lklh_rvu.png

alfboo_lstsqr_norvu.png

alfboo_lstsqr_rvu.png

alfBoo_published.png

deleteme.png

tutorials/.ipynb_checkpoints/*

tutorials/results/*

tutorials/results/LBTI Null_photometries_11000-11200_dataset_11100.png

tutorials/.ipynb_checkpoints/

build/*

grip.egg-info/

demo.txt

grip/table.fits

grip/table2.fits
